<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>KeepUpMobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>keepup-icon-border-blue</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>keepup-icon-border-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>keepup-icon-border-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>keepup-icon-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>keepup-icon-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>keepup-icon-blwh</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>keepup-icon-blwh</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>keepup-icon-blwh-inverted</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>keepup-icon-blwh-inverted</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>keepup-icon-white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>keepup-icon-white</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
